@charset "UTF-8";

@font-face {
font-family: "HelveticaNeueCyr";
  src: url("..font/HelveticaNeueCyr-Roman.otf"),
  url("../font/HelveticaNeueCyr-Roman.otf"), 
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: "HelveticaNeueCyr";
  src: url("..font/HelveticaNeueCyr-Bold.otf"),
  url("../font/HelveticaNeueCyr-Bold.otf"), 
  font-weight: bold;
  font-style: bold;
}
/**/



/*-------------------------------------------------------------------------------------*/

* {
    font-family: 'HelveticaNeueCyr','Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua
}

body {
    background-color: #def3fd;
}

header, main, footer {
      padding-left: 215px;
    }


/*Меню---------------------------------------*/

.edoc {
    background-image: url(../img/edoc.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 9px;
    margin-right:18px;
}

.licenz{
    background-image: url(../img/license.png);
    width: 20px;
    height: 26px;
    float: left;
    margin-top: 10px;
    margin-right:23px;
    margin-left: 4px;
}

.kass {
    background-image: url(../img/cashbox.png);
    width: 28px;
    height: 29px;
    float: left;
    margin-top: 9px;
    margin-right:19px;
    margin-left: 3px;
}


.check {
    background-image: url(../img/bills.png);
    width: 21px;
    height: 23px;
    float: left;
    margin-top: 9px;
    margin-right: 25px;
    margin-left: 5px;
}

.setting {
    background-image: url(../img/settings.png);
    width: 23px;
    height: 23px;
    float: left;
    margin-top: 12px;
    margin-right: 23px;
    margin-left: 3px;
}

.logo {
  /*  float: left;*/
    background-image: url(../img/logo_ee_cashbox.svg);
    height: 36px; 
    width: 144px;
}

.side-nav li>a {
margin-top: 16px;
    padding-left: 36px;
}

.side-nav .user-view, .side-nav .userView {
    margin-bottom: 18px;
    padding-top: 38px;
    padding-left: 36px;
    padding-bottom: 20px;
}

.l-side__string { 
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
    padding-left: 36px;
}

.l-side__string_pad-bot {
    margin-bottom: 60px;
    position: relative;
}

.l-side__string_last {
    padding-top: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.l-side__string-text {
    font-size: 20px;
    padding-left: 15px;
}



.l-side__string-text_middle {
    font-size: 14px;
}

.l-side__string-text_pad-bot {
    padding-left: 0;
    padding-bottom: 20px;
}
.l-side__link {
    font-size: 13px;
    color: #0079bc;
    padding: 0px !important;
}
.l-side__string:hover .without-fill,
.l-side__string_hovered .without-fill {
    color: #000;
    cursor: default;
}

.vsostave {
    height: 25px;
    padding-left: 32px;
    margin-bottom: 25px;
}

/*Хэдер---------------------------------------*/

.nav_color {
    background-color: #0071b8;
}


@media only screen and (max-width : 992px) {
      
   .side-nav li>a {
        padding-left: 36px; 
    }
    header, main, footer {
        padding-left: 0;
      }
    }
/*Крошки---------------------------------------*/
.breadcrumb_margin {
    margin-left: 23px;
    
}
.breadcrumb{
   color: RGB(114,188,235);   
}
.breadcrumb:last-child {
    color: RGB(37,121,191);
}
.breadcrumb:before {
    color: RGB(114,188,235);
}

.nav-wrapper_color {
    background-color: #def3fd; 
    border: none;
}
.no_shadow {
    box-shadow: none;
    -webkit-box-shadow: none;
}

/*форма----------------------------------------------*/
.form__title {
    color: #0071b8;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.btn_block {
    display: block;
    background-color: #2579bf;
}
.btn_block:hover {
    background-color: #2579bf;
    opacity: 0.9;
}
.row_margin_none {
    margin-bottom: 0px;
}

.form__button_margin {
    margin-top: 20px;
}